
.border{
    background: rgb(214, 162, 214);
}
.text-center{
    color: rgb(71, 4, 71);
    background-color:aliceblue;;
    
}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
}

.title{
    color:rgb(131, 51, 131);
    font-family:fantasy
    color: white; /* Inner text color */
  text-shadow: 
    -2px -2px 0 aliceblue,  
     2px -2px 0 aliceblue,  
    -2px  2px 0 aliceblue,  
     2px  2px 0 aliceblue; /* Creates a thick outline */
}
}