
.border{
    background: rgb(214, 162, 214);
}
.text-center{
    color: rgb(71, 4, 71);
    background-color:aliceblue;
    
}
h1{
    font-family: Impact;   
}

button{
    border-color: rgb(71, 4, 71);
    color:rgb(71, 4, 71);
    border-radius: 5px;
    margin:10px;
    font-family: Cambria;
    background-color:rgb(209, 242, 242)

}
button:hover {
    background-color: #49d0f9;
}
span:hover{
    background-color:#49d0f9;
}